.innoway-header {
  background-color: #183e6b;
  padding-left: 50px;
  padding-right: 50px;
}

.logo img {
  width: 200px;
}

.innoway-info {
  margin-left: 20%;
}

.innoway-section {
  background-color: #183e6b;
}

.innoway-title {
  font-size: 64px;
}